@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mainNavLink {
        @apply
        flex
        py-1 pl-4 space-x-4
        rounded-r-sm
        font-normal font-montserrat
        transition-colors ease-out
    }

    .bgInteractive {
        @apply
        hover:bg-neutral-200 dark:hover:bg-neutral-800
        transition-all ease-out
    }

    .mainText {
        @apply text-gray-950 dark:text-gray-50
    }

    .interactiveButton {
        @apply
        mainText capitalize
        px-2 py-1
        transition-all
        border rounded-sm
        dark:border-neutral-800 dark:hover:border-neutral-500
        border-neutral-300 hover:border-neutral-950
        dark:bg-neutral-800
    }

    .authButton {
        @apply
        outline-2 outline-blue-800
        flex justify-center items-center
        transition-colors ease-out
        w-full
        py-3
        rounded-sm
        border
        /*dark:bg-darkGray-gray2 bg-gray-gray2*/
        /*dark:border-neutral-600 border-neutral-300*/
        /*hover:dark:border-neutral-50 hover:border-neutral-950*/
    }
}

.dark {
    ::-webkit-scrollbar-thumb {
        @apply
        bg-neutral-800
        rounded-md
        transition-all ease-out
        cursor-pointer
    }
}

::-webkit-scrollbar-thumb {
    @apply
    bg-neutral-300
    rounded-md
    transition-all ease-out
    cursor-pointer
}

::-webkit-scrollbar {
    width: 7px;
    height: 0;
}
