@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mainNavLink {
        @apply
        flex
        py-1 pl-4 space-x-4
        rounded-r-sm
        font-normal font-montserrat
        transition-colors ease-out
    }

    .bgInteractive {
        @apply hover:bg-gray-gray4 dark:hover:bg-darkGray-gray4
    }

    .mainText {
        @apply text-gray-gray12 dark:text-darkGray-gray12
    }

    .interactiveButton {
        @apply
        mainText capitalize
        px-2 py-1
        transition-all
        border rounded-sm dark:border-darkGray-gray6 dark:hover:border-darkGray-gray8 border-gray-gray8 hover:border-gray-gray12
        dark:bg-darkGray-gray4
    }

    .authButton {
        @apply
        outline-2 dark:outline-darkBlue-blue8 outline-blue-blue8
        flex justify-center items-center
        transition-colors ease-out
        w-full
        py-3
        rounded-sm
        border
        dark:bg-darkGray-gray2 bg-gray-gray2
        dark:border-darkGray-gray6 border-gray-gray6
        hover:dark:border-darkGray-gray12 hover:border-gray-gray12
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 0;
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply
    dark:bg-darkGray-gray6 bg-gray-gray6
    rounded-sm
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply
    dark:bg-darkGray-gray9 bg-gray-gray9
}

::-webkit-scrollbar-corner {
}

::-webkit-scrollbar-button {
    background: aliceblue;
}
